<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>RPi4 Live Camera</title>
    <link rel="stylesheet" href="/static/css/cam_live.css" />
  </head>
  <body>
    <header>
      <h2>Live Web Camera</h2>
      <p><form action="/logout" method="get" class="logout-form"><button type="submit" class="logout-btn">Logout</button></form></p>
    </header>
    <img src="/stream" alt="Live camera stream" id="camera-image" />
    <div id="error-display"></div>
    <div id="reconnect-display"></div>
    <div id="connection-display"></div>
    <script src="/static/js/cam_live.js" defer></script>
  </body>
</html>
